<table class="profile" summary="Profile information">
  <tr>
    <td class="main">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
      <% if @user == current_user %>
      <%= render 'shared/micropost_form' %>
      <% end %>
      <% unless @user.microposts.empty? %>
        <table class="microposts" summary="Freets">
          <%= render @microposts %>
        </table>
        <%= will_paginate @microposts %>
      <% end %>
    </td>
    <td class="sidebar round">
      <strong>Name</strong> <%= @user.name %><br />
      <strong>URL</strong> <%= link_to user_path(@user), @user %><br />
      <strong>Freets</strong> <%= @user.microposts.count %>
    </td>
  </tr>
</table>